@media screen and (min-width:1024px) {
    
    .about-text{
        font-size: 1.5rem;
    }
    
}


/* #181818 */
/* #303030 */


@media  screen and (max-width:1023px){
    /* nav-menu */
    .hamburger-menu{
        display: block;
        /* margin-right: 20px; */
        z-index: 50;
    }

    .nav-links{
        position: absolute;
        background-color:#000000ce;
        top: 1.5rem;
        right: -100%;
        /* height: 600px; */
        width: 32%;
        padding-block: 10px;
        margin: 15px;
        margin-top: 0;
        transition: 0.2s ease-in-out;
    }

    .nav-links.active{
        right: 0;
    }

    .nav-bar{
        overflow: initial;
    }

    .nav-links ul{
        flex-direction: column;
        align-items: center;
    }
    
    .nav-links ul li a{
        font-size:24px;
        color: white;
    }
    /* section settings */
    
    .my_info{
       margin: 2%;
    }

    .about-text{
        font-size: var(--paragraph);
        padding: 0;
        margin:5px;
    }

    .rotate-left{
        transform: none;
        position: initial;
    }
    
    .rotate-right{
        transform: none;
        position: initial;
    }

    .section-container{
        flex-direction: column;
        padding-block: 2px;
        gap: 20px;
    }

    .section-container:nth-child(2n){
        flex-direction: column;
    }

    .section-container:nth-child(2n+1){
        flex-direction: column;
    }

    .skills-container{
        width:250px;
    }
  
    .school-details {
        overflow-y: scroll;
    }

    .school-details{
        display: inline;
        text-align: center;
        padding-block: 1rem;
    }

    .school-details h2, .school-details p{
        font-size: 1rem;
    }

    /* Designing for scroll-bar */
    ::-webkit-scrollbar {
        width: 1rem;
    }
 
    /* Track */
    ::-webkit-scrollbar-track {
        background: gainsboro;
        border-radius: 0.5rem;
    }
 
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(31, 29, 29);
        border-radius: 0.5rem;
    }
 
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #363535;
    }

    .project-area{
        grid-template-columns: repeat(2,1fr);
        margin: 10px;
    }

}

@media  screen and (max-width:767px){

    :root{
        --heading:28px;
        --sub-heading: 15px;
        --bar-text:28px;
        --paragraph:12px;

    }

    .hamburger-menu{
        width: 25px;
    }

    #home{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .home-text{
        font-size: 1.3rem;
    }

    .home-image{
        height: 60%;
    }
    .nav-links ul{
        gap: 1.25rem;
    }

    .nav-links ul li a{
        font-size: 1.25rem;
    }

    .my-image{
        height: 15rem;
    }

    .skills-container{
        width:140px;
        height: 140px;
        font-size: 20px;
        gap:10px;
    }

    .education-area{
        grid-template-columns: auto;
        margin:1rem;
    }

    .project-area{
        grid-template-columns: auto;
        margin: 1rem;
    }

    .project-image{
        height: 200px;
    }

    .about-project h1{
        font-size: 1.25rem;
    }
    
    .about-project h2{
        font-size: 18px;
    }
    
    .about-project p{
        font-size: 0.9375rem;
    }

    .contact{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 20%;
    }

    #msg{
        color: rgb(235, 19, 19);
        width: fit-content;
        font-size: 1rem;
        display: block;
        margin-top: -10rem;
        margin-left: 4%;
    }

    .details-container{
        width: 100%;
        padding: 1.25rem;
        margin: 0;
    }

    .details-container h3{
        font-size: 1.25rem;
    }

    .details-info-container{
        font-size: 18px;
    }

    .contact-container{
        width: 100%;
        text-align: center;
    }

    #contact-form {
        margin-left: 0;
        margin-bottom: 10%;
    }

    .copy-right{
        font-size:1rem ;
    }

}