*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    position:absolute;
    align-items: center;
    overflow: hidden;
    padding-inline: 1rem;
    padding-block-start: 1rem;
    background-color: #181818;
}
:root{
    --box-shadow: 0 0 0.5rem white;
    --navbar-color: #0801017c;
    --primary-color:white;
    --secondary-color: #f50449;
    --bar-color:white;
    --padding-block-section:2.5rem;
    --card-color:black;
    --heading:3rem;
    --sub-heading: 2rem;
    --bar-text:3rem;
    --paragraph:1.7rem;
    --section-background-color: #303030;
    --section-border: #f50449 solid 0.25rem ;
}

.text-highlight{
   color: var(--secondary-color);
}

.text-highlight-size{
    font-size: var(--sub-heading);
    font-weight: 500;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

ul{
    list-style:none;
}

.mar_half_rem{
    margin-block:0.5rem ;
}

.padding_half_rem{
    padding: 0.5rem;
}

/* nav bar */

.nav-bar{
    /* background-color:var(--navbar-color); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625rem;
}

.nav-bar ul{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: space-around;
}
.nav-text a{
    color: var(--primary-color);
    padding: 0.2rem;
    font-weight: 500;
    font-size: var(--sub-heading);
}

.nav-text a:hover{
    box-shadow:var(--box-shadow);
    border-radius: 10%;
}

.hamburger-menu{
    display: none;
    width: 2.5rem;
}

.hamburger-menu img{
    width: 100%;
}
/* Home text */

#home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-block: 2.5rem;
    height: 50rem;
    background-color: var(--section-background-color);
    border:var(--section-border);
}

.home-text{
    flex-basis: 30%;
}

.home-image{
    height: 100%;
}

.home-image img{
    height: 90%;
    background-image: url(images/bg-image.jpg);
    background-size: 215%;
    background-repeat:no-repeat;
    background-position:center bottom;
}

.home-image img:hover {
    animation-name: my-image;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes my-image {
    from{ 
        height: 90%;
    }
    to{
        height: 100%;
    }
}


.name-highlight{
    display: inline-block;
    font-family:cursive;
    font-style: italic;
}

.name-highlight::first-letter{
    color: #f50449;
    font-size: 200%;
}

/* sticky button */
.sticky-button{
    position: fixed;
    bottom: 4rem;
    left: -0.2rem;
    align-self:flex-start;
    z-index: 50;
}

.up-arrow{
    height:5rem;
    width: 5rem;
    text-align:center;
}

.up-arrow img{
    height: 100%;
    z-index: 50;
}

.up-arrow a{
    font-size: 1.5rem;
}

/* sections */

section{
    display: flex;
    flex-direction: column;
}

.section-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-bottom: 5px solid white;
    padding-block: var(--padding-block-section);
}

#about{
    border-top: 0.30rem solid white;
}

/* heading bar of sections */

.bar{
    font-size: var(--bar-text);
    text-transform: uppercase;
    letter-spacing: 0.30rem;
    color: white;
    border-bottom: 0.30rem solid white;
}

.rotate-left{
    transform: rotate(-90deg);
    height: fit-content;
    position: absolute;
    left: -7.18rem;
}

.rotate-right{
    transform: rotate(90deg);
    height: fit-content;
    position: absolute;
    right: -6.87rem;
}

.rotate-margin-left{
    left: -3.125rem;
}

.rotate-margin-right{
    right: -3.125rem;
}

.section-container:nth-child(2n+1){
    flex-direction: row;
    border-left: 0.30rem white solid;
}

.section-container:nth-child(2n){
    flex-direction: row-reverse;
    border-right: 0.30rem white solid;
}

/* About section */

.my_info{
    gap: 2rem;
    display: flex;
    flex-basis: 90%;
    justify-content: center;
    align-items: center;
    background-color: var(--section-background-color);
    border:var(--section-border);
}

.my-image{
    height:25rem;
}

.my-image img{
    height: 100%;
    border-radius: 50%;
    border: 0.25rem solid white;
}

.my-image img:hover{
    box-shadow: var(--box-shadow)
}

.about-text{
    padding:1rem;
    font-size: var(--paragraph);
    color: var(--primary-color);
    text-align: center;
    flex-basis: 70%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* skills section */ 

.skills-area{
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    flex-basis: 90%;
    flex-wrap: wrap;
    gap:16px;
    justify-content: space-evenly;
}

.skills-container{
    color: #303030;
    font-size: var(--heading);
    display: flex;
    flex-direction: column;
    height: 22rem;
    width: 22rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--section-background-color);
    border:var(--section-border);
    border-radius: 5%;
}

.skills-container img{
    height: 50%;
}

.skills-container:hover{
    background-color:var(--secondary-color);
    color: white;
    transition: all 0.3s ease-in;
    background-position: center;
    box-shadow: 0 0 0.5rem white;
    cursor: pointer;
}

/* education section */

.education-area{
    margin: 0.5rem;
    display: grid;
    flex-basis: 90%;
    gap:1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 25rem;
}

.education-container{
    position: relative;
    color: var(--primary-color);
    display: flex;
    height:100%;
    flex-direction: column;
    overflow: hidden;
    border-radius: 2%;
    border:var(--section-border);
}

.image {
    display: block;
    width: 100%;
    height: 100%;
}

.school-details {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease-in-out;
}

.education-container:hover .school-details {
    bottom: 0;
    height: 100%;
  }

.education-container:hover{
    box-shadow: var(--box-shadow);
}

/* projects section */

.project-area{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, calc(48% - 4rem));
}

.project-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: white 0.3rem solid;
    overflow: hidden;
    background-color: var(--section-background-color);
    border:var(--section-border);
}

.project-image{
    height: 300px;
}

.project-image img{
    height: calc(100% - 1rem);
    margin: 0.625rem;
    width: 100%;
    border: black 0.3rem solid;
    border-radius: 5%;
}

.about-project{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    text-align:center;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-color);
}

.about-project h1{
    font-size: var(--heading);
}

.about-project h2{
    font-size: var(--sub-heading);
}

.about-project p{
    font-size: var(--paragraph);
}

button{
    background: transparent;
    font-size: 0.95rem;
    border: 0.125rem solid white;
    margin-top: 2%;
    border-radius: 0.125rem;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover{
    box-shadow: var(--box-shadow);
}

/* contact section */

#contact{
    display: flex;
    flex-direction: column;
    background-color: black;
    background: linear-gradient(to right , rgb(15, 14, 14), rgba(17, 16, 16, 0.938));
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
    color: var(--primary-color);
}

.contact{
    display: flex;
    gap: 1.25rem;
}

.contact-container{
    width: 50%;
    text-align: center;
}

#contact-form{
    margin-left: 20%;
}

#contact-form input, textarea {
    max-width: 90%;
    margin: 0.625rem;
    padding: 0.25rem 0.625rem;
    border: 0rem solid transparent;
    border-bottom: 0.125rem solid white;
    color: #d9dcdd;
    font-family:sans-serif;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}


.details-container{
    width: 50%;
    margin-left: 6%;
}

.details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.875rem;
    margin-block: 0.625rem;
}

.details-info-container{
    margin-block: 0.625rem;
    width: fit-content;
    font-size: 1.25rem;
}

.details-info-container a,.details-info-container span{
    display: flex;
    align-items:center;
    gap: 0.5rem;
}
.details-info-container img{
    width: 1.875rem;
    border-radius: 0.625rem;
}

.details-info-container img:hover{
    box-shadow: var(--box-shadow);
}


.copy-right{
    margin-block-start: 0.625rem;
    margin-inline: 0;
    width: 120%;
    text-align: center;
    color: var(--secondary-color);
    background-color: #d9dcdd;
}

.copy-right a{
    color: inherit;
}
