*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    position:absolute;
    align-items: center;
    overflow: hidden;
    padding-inline: 1rem;
    padding-block-start: 1rem;
    background-color: black;
}
:root{
    --box-shadow: 0 0 0.5rem white;
    --navbar-color: #0801017c;
    --primary-color:white;
    --secondary-color: #f50449;
    --bar-color:white;
    --padding-block-section:40px;
    --card-color:black;
    --heading:3rem;
    --sub-heading: 2rem;
    --bar-text:3rem;
    --paragraph:1.7rem;
}

.text-highlight{
   color: var(--secondary-color);
}

.text-highlight-size{
    font-size: var(--sub-heading);
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

ul{
    list-style:none;
}

.mar_half_rem{
    margin-block:0.5rem ;
}

.padding_half_rem{
    padding: 0.5rem;
}

/* nav bar */

.nav-bar{
    background-color:var(--navbar-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.nav-bar ul{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: space-around;
}
.nav-text a{
    color: var(--primary-color);
    padding: 0.2rem;
    font-weight: 500;
    font-size: var(--sub-heading);
}

.nav-text a:hover{
    box-shadow:var(--box-shadow);
    border-radius: 10%;
}

.hamburger-menu{
    display: none;
    width: 40px;
}

.hamburger-menu img{
    width: 100%;
}
/* Home text */

#home{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: var(--primary-color);
    font-size: 40px;
    margin-block: 40px;
    padding-inline: 30px;
    background-position:right top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
}

/* sticky button */
.sticky-button{
    position: fixed;
    bottom: 1.8rem;
    left: -0.2rem;
    align-self:flex-start;
    z-index: 50;
}

.up-arrow{
    height:3.5rem;
    width: 3.5rem;
    text-align:center;
}

.up-arrow img{
    height: 100%;
    z-index: 50;
}

/* sections */

section{
    display: flex;
    flex-direction: column;
}

.section-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-block: 5px solid white;
    padding-block: var(--padding-block-section);
}

/* heading bar of sections */

.bar{
    font-size: var(--bar-text);
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    border-bottom: 5px solid white;
}

.rotate-left{
    transform: rotate(-90deg);
    height: fit-content;
    position: absolute;
    left: -115px;
}

.rotate-right{
    transform: rotate(90deg);
    height: fit-content;
    position: absolute;
    right: -110px;
}

.rotate-margin-left{
    left: -50px;
}

.rotate-margin-right{
    right: -50px;
}

.section-container:nth-child(2n+1){
    flex-direction: row;
    border-left: 5px white solid;
}

.section-container:nth-child(2n){
    flex-direction: row-reverse;
    border-right: 5px white solid;
}

/* About section */

.my_info{
    gap: 2rem;
    display: flex;
    flex-basis: 90%;
    justify-content: center;
    align-items: center;
}

.my-image{
    height:25rem;
    /* margin-left: 40px; */
}

.my-image img{
    height: 100%;
    border-radius: 50%;
    border: 0.25rem solid white;
}

.my-image img:hover{
    box-shadow: var(--box-shadow)
}

.about-text{
    padding:1rem;
    font-size: var(--paragraph);
    color: var(--primary-color);
    text-align: center;
    flex-basis: 70%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* skills section */ 

.skills-area{
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    display: grid;
    flex-basis: 90%;
    gap:2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
}

.skills-container{
    color: var(--primary-color);
    font-size: var(--heading);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-row:span 2;
    background-color: white;
    border-radius: 5%;
}

.skills-container img{
    height: 50%;
}

.skills-container:hover{
    background-color:var(--secondary-color);
    transition: all 0.3s ease-in;
    background-position: center;
    box-shadow: 0 0 0.5rem white;
    cursor: pointer;
}

/* education section */

.education-area{
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    display: grid;
    flex-basis: 90%;
    gap:1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
}

.education-container{
    position: relative;
    color: var(--primary-color);
    display: flex;
    height:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--secondary-color);
    border-radius: 2%;
}

.education-container:hover{
    box-shadow: var(--box-shadow);
}

.education-container img{
    height: 100%;
    width: 100%;
    z-index: 1;
}

.education-container img:hover{
    opacity: 0;
    transition: all 0.6s ease-in;
}

.school-details{
    position: absolute;
    text-align: center;
}

.school-details h4{
    text-align: center;
    color: var(--primary-color);
    font-size: 1.6rem;
    padding-block: 0.5rem;
}

.school-details p{
    text-align: center;
    font-size: 1rem;
    padding: 0.3rem;
    font-weight: 500;
}

/* projects section */

.project-area{
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, calc(48% - 2rem));
}

.project-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: white 0.3rem solid;
    overflow: hidden;
}

.project-image{
    height: 300px;
}

.project-image img{
    height: calc(100% - 1rem);
    margin: 2px;
    width: 100%;
    border: black 5px solid;
    border-radius: 5%;
}

.about-project{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    text-align:center;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-color);
}

.about-project h1{
    font-size: var(--heading);
}

.about-project h2{
    font-size: var(--sub-heading);
}

.about-project p{
    font-size: var(--paragraph);
}

button{
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 2%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover{
    box-shadow: var(--box-shadow);
}

/* contact section */

#contact{
    display: flex;
    flex-direction: column;
    background-color: black;
    background: linear-gradient(to right , rgb(15, 14, 14), rgba(17, 16, 16, 0.938));
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: var(--primary-color);
}

.contact{
    display: flex;
    gap: 20px;
}

.contact-container{
    width: 50%;
    text-align: center;
}

#contact-form{
    margin-left: 20%;
}

#contact-form input, textarea {
    max-width: 90%;
    margin: 10px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    font-family:sans-serif;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}


.details-container{
    width: 50%;
    margin-left: 6%;
}

.details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 30px;
    margin-block: 10px;
}

.details-info-container{
    margin-block: 10px;
    width: fit-content;
    font-size: 20px;
}

.details-info-container a,.details-info-container span{
    display: flex;
    align-items:center;
    gap: 8px;
}
.details-info-container img{
    width: 30px;
    border-radius: 10px;
}

.details-info-container img:hover{
    box-shadow: var(--box-shadow);
}


.copy-right{
    margin-block: 5px;
    width: 100%;
    text-align: center;
    color: var(--secondary-color);
    background-color: #d9dcdd;
}

.copy-right a{
    color: inherit;
}
